/* .bg-img {
  background-image: 
    linear-gradient(
      to bottom,
      #0096FF,
      #6DD5FA,
      #ffffff
    );
   
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  display: block;
  width: 100%;
  min-height: 100% !important;
  color: black; 
}  */
.about {
  margin-top: 10px;
}

.about-container {
  padding-top: 40px;
  /* margin-top: 60px; */
  border: .5px solid gray;
  box-shadow: 5px 8px 5px #888888;
  border-radius: 10px;
  text-align: center;
  max-width: 60%;
}

.about-text {
  margin: 0;
  padding-top: 10px;
  /* padding-bottom: 30px; */
  text-align: left;
}

h2 {
  text-align: center;
  font-family: Poppins;
}

.justify-content-md-center {
  padding-top: 15px;
}
.fsd {
  color: white !important;
  font-size: 25px;
  
}

.skills-center {
  text-align: center;
}

.resume-link {
  margin-top: 14px;
  justify-content: center;
  padding: 8px;
  border-style: solid;
  border-color: green;
  border-radius: 10px;
  text-align: center;
  display: flex;
  width: 15%;
}

.about-image {
  padding-bottom: 15px;
}

.amber-img {
  background-image: url(../../images/me.jpeg);
  height: 180px;
  width: 180px;
  border-radius: 170px;
  background-size: cover;
  background-position: 8px;
}

.more-about {
  padding-top: 25px;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}