.bg-img {
  background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 32%, 0.6),
      hsla(213, 49%, 47%, 0.3)
    ),
    url(../../images/backgroundimg.jpeg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  display: block;
  width: 100%;
  min-height: 100% !important;
  color: white;
}

.about-container {
  padding-top: 20px;
}

.about-text {
  margin: 0;
}

.h4-text-center {
  text-align: center;
  font-family: Satisfy;
}

.skills-center {
  text-align: center;
}

.amber-img {
  background-image: url(../../images/me.jpeg);
  height: 170px;
  width: 170px;
  border-radius: 170px;
  background-size: cover;
  background-position: 8px;
}
