/* .ed-main {
    color: #0c6ad5;
} */
/* how do I get p tags black? */
.p {
  color: "black !important";
}

.header h2 {
  font: "40px";
  text-align: "center";
  display: "inline-block";
  line-height: "60px";
  color: "black";
  padding: "10px";
  margin: "0";
}

.res-list {
    list-style-type:disc !important;
}
ul li::marker {
  color: #6a994e !important;
  font-size: 1.3em;
}
