/* .p {
  color: "black !important";
}

body {
  margin: 0;
  background-color: #3e5e82;

.header h2 {
  font: "40px";
  text-align: "center";
  display: "inline-block";
  line-height: "60px";
  color: "black";
  padding: "10px";
  margin: "0";
}

.res-list {
  list-style-type: disc !important;
}
ul li::marker {
  color: #6a994e !important;
  font-size: 1.3em;
}

.main-title {
  text-align: center;
} */
