.p {
  color: "white !important";
}

.resume-btm {
  margin-left: 40px;
  margin-top: 25px;
}
.work {
  /* padding-left: 40px; */
  padding-right: 30px;
  margin-right: 20px;
}
.education {
  padding-left: 20px;
  padding-right: 0;
}

.resume {
  margin-top: 0;
}

span {
  font-size: 30px;
}

.manager {
  padding-top: 15px;
}

.nasm {
  padding-top: 15px;
}

.bsu {
  padding-top: 15px;
}

.skill {
  margin-top: 25px;
  text-align: center;
  margin-left: -4.0rem !important;
}
.header h2 {
  font: "40px";
  text-align: "center";
  display: "inline-block";
  line-height: "60px";
  color: "black";
  padding: "10px";
  margin-top: "0";
  
}

.main-title {
  margin-top: 10px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
} 

li a:hover {
  transition: 0.5s ease;
  color: "blue !important";
}

/* relative here */
.progress-bar-container {
  height: 20px;
  width: 80%;
  margin: 10px 0px;
  background: white;
  position:relative; 
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 173, 107, 0.1);
}

.progress-bar-indicator::before {
  content:"";
  margin-right: 40px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-image: linear-gradient(to right, darkblue, blue, lightblue);
}

.progress-bar-indicator {
  height: 100%;
  border-radius: 25px;
  -webkit-mask:linear-gradient(#fff 0 0);
          mask:linear-gradient(#fff 0 0);
  animation: load 4s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  width: 0;
  float: left;
}
