.nav {
  overflow: hidden;
  position: relative;
  display: flex;
  padding-top: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.left {
  padding-top: 0px;
}
.nav-link {
  color: black !important;
  position: relative;
  margin-left: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
}

li a:hover {
  transition: 0.5s ease;
  color: white !important;
}
li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-tagline {
  font-family: Poppins;
  font-size: 40px;
  color: white !important;
  padding-top: 25px;
  text-align: center;
  margin-bottom: 0;
}

/* @media only screen and (max-width: 600px) {
  .right {
    display: none !important;
  }
} */
