.nav-link {
  color: #fff !important;
}

/* How do I get tagline to the right? */
.nav-tagline {
  font-family: Satisfy !important;
  font-size: 20px;
  color: white !important;
  /* display: end; */
}
