/* How do I get the icons down and both the h3 and icons centered? */

footer {
  background: #6a994e;
  width: 100%;
  height: 60px;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer h3 {
  color: white;
  font-size: 17px;
  font-weight: bolder;
  margin: 0;
}

footer h3,
footer div {
  text-align: center;
  width: 100%;
}

footer a {
  color: white;
  padding: 15px;
  text-align: center;
}

footer a:hover {
  transition: 0.5s ease;
}

.ftr-icon {
  list-style: none;
  cursor: pointer;
  font-size: 24px;
  display: inline-block;
}
