/* import 'bootstrap/dist/css/bootstrap.min.css'; */

body{
  margin: 0px;
  padding: 0px;
  border-top: none;
    /* background: linear-gradient(to right,black, grey,black); */
    background-image: url("/public/backgroundimg.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    display: block;
    overflow-y: scroll;
    width: 750px;
    height: 350px;
}
